@media (max-width: 520px){
    .engineer-mode{
        display: none;
    }
    .btn.btn-trigger, .btn.btn-operations-history{
        display: none;
    }
}
.wrapper{
    justify-content: center;
    position: relative;
}
[hidden]{
    display: none 
}
.btn:focus{
    outline: none;
}
.history-list{
    max-width: 168px;
    height: 200px;
    color: black;
    overflow: auto;
}
p{
    color: inherit;
    margin: 0;
}
.btn{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(85, 85, 85);
    border-color: transparent;
}
td{
    width: 35px;
    height: 35px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-dark-gray{
    background-color: rgb(32, 32, 32);
}
.btn-trigger{
    display: block;
    height: 25px;
    border-radius: 0;
    position: absolute;
}
.general-mode{
    margin-left: auto;
}
table{
    border-spacing: 4px;
}
.calculator{
    display: inline-block;
    background-color: black;
}
.calculator__controls{
    display: flex;
    justify-content: space-between;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;    
}
.btn-operations-history{
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
}
.calculator__screen{
    font-size: 50px;
    text-align: right;
    height: 50px;
    width: 100%;
}
*{
    color: white;
}
.btn-orange{
    background-color: rgb(230, 149, 0);
}
.btn.btn-orange.hover, .btn.btn-orange:hover, .btn.btn-orange.permanentHover{
    background-color: white !important;
    color: rgb(230, 149, 0) !important;
}
.btn.btn-light-gray{
    background-color: rgb(196, 196, 196);
    color: black;
}
.btn.btn-light-gray.hover, .btn.btn-light-gray:hover{
    background-color: white !important;
}
.btn.hover, .btn:hover, .btn.btn-dark-gray:hover, .btn.btn-dark-gray.hover{
    background-color: rgb(163, 163, 163) !important;
}